.ellipsis-text {
  display: inline-block;
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

.search-form {
  flex: 1;
  padding-right: 20px;
  min-width: 0;

  :global(.arco-form-label-item-left) {
    > label {
      white-space: nowrap;
    }
  }

  :global(.arco-form-item-label-col) {
    padding-right: 8px;
  }
}

.api-modal {
  :global(.arco-modal-content) {
    padding-right: 64px;
  }
}

.modal-form {
  padding-right: 0;

  :global(.arco-form-item-label) {
    white-space: nowrap;
  }
}

.description-item {
  :global(.arco-textarea-wrapper) {
    width: 100%;
  }

  :global(.arco-form-item-label-col) {
    flex: 0 0 16.6667%;
  }
}
