.search-form {
  flex: 1;
  padding-right: 20px;
  min-width: 0;

  :global(.arco-form-label-item-left) {
    > label {
      white-space: nowrap;
    }
  }

  :global(.arco-form-item-label-col) {
    padding-right: 8px;
  }
}

.permission-code-ellipsis {
  display: block;
  width: 100%;
  overflow: hidden;
  line-height: 22px;
  color: var(--color-text-1);
  white-space: nowrap;
  text-overflow: ellipsis;
}
